.indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  -ms-overflow-style: none;
  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;
  /* hide scrollbar in Firefox */
  max-width: 56px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    margin-left: 10px;
    border-radius: 12px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: linear;
  }

  & > div:first-child {
    margin-left: 0px;
  }

  & > .dots-active {
    width: 12px;
    height: 6px;
    background-color: #00000096;
    opacity: 1;
    flex-shrink: 0;
    flex-grow: 1;
  }

  & > .dots-close {
    width: 6px;
    height: 6px;
    background-color: #00000033;
    flex-shrink: 0;
    flex-grow: 1;
  }

  & > .dots-far {
    width: 4px;
    height: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #00000033;
    opacity: 0.25;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
